{% extends 'index.html' %}
{% set active = "opinions" %}
{% block content %}
    <main class="p-4">
        <div class="row justify-content-center">
            <div class="col-md-8 my-2">
                <h2>Extract opinions</h2>
            </div>
        </div>
        <form method="POST" action="/extractOpinions">
            <div class="row justify-content-center">
                <div class="mb-3 col-md-8">
                    <div class="col-md-3">
                        <label for="productId" class="form-label">Ceneo product ID</label>
                        <input type="text" class="form-control" id="productId"
                               name="productId" value="{{ request.form['productId'] }}">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="mb-3 col-md-8">
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="submit">Process</button>
                    </div>
                </div>
            </div>
        </form>
    </main>
{% endblock %}